.container{
  display: flex;
  flex-direction: column;
  gap: 3%;
  margin-top: 2%;

  min-height: 35vh;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center; 
}


.searchbutton {
  padding-top: 1%;
}

.aiText {
  font-family: 'Regular';
  font-size: 0.8vw;
  min-width: 100px; 
  padding-left: 1.3vw;
}


.togleContainer  {
 padding-bottom: 10vw;
}

.searchContainer {
  width: 60%;
  display: flex;
  align-items: center;
}


.mainbody{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
}

.searchResult {
  font-family: "Bold";
  font-size: 140%;
  color:#636363;
  margin-bottom: 3%;
}

.searchResult span {
  color: #00B2FF;
  text-decoration: none;
}
.pagination{
  margin-top: 5%;
  margin-bottom: 2%;
}

.listup{
  margin-right: 8%;
}

.subContent {
  color: #bbbbbb;
  font-size: 0.9vw;
  font-family: 'regular';
  margin-top: 120%;
  margin-bottom: 20%;
}

.listupWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8%;
}