.container{
  display: flex;
  flex-direction: column;
  gap: 3%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.headerWrapper{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 1%;
}
.toggleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.aiText{
  font-family: 'Regular';
  font-size: 0.1%;
}

.searchContainer {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mainbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchResult {
  font-family: "Bold";
  font-size: 140%;
  color:#636363;
  margin-bottom: 2%;
}

.searchResult span {
  color: #00B2FF;
  text-decoration: none;
}

.pagination{
  margin-top: 5%;
  margin-bottom: 2%;
}

.listup{
  margin-top: 1%;
  margin-right: 8%;
}

.dropdownWrapper {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
  margin-right: 46%;
}

.customDropdown{
  border: 1px solid #00b2ff;
  border-radius: 25px;
  color: #00b2ff;
  position: relative;
}