.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130%;
  background-color:#ffffff;
  border: 1px solid #CBEFFF;
  border-radius: 10px;
  padding: 2% 3%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }
}

.leftSection {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 3%;
}

.icon {
  font-size: 24px;
  margin-right: 15px;
}

.title {
  font-family: "Bold";
  font-size: 16px;
  color: #0B1215;
}

.middleSection {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  font-size: 12px;
}

.company {
  font-family: "Bold";
  margin-bottom: 3%;
  color: #636363;
}

.location {
  font-family: "Regular";
  color:#828282;
}

.amountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px; 
}

.amountIcon {
  width: 24px; 
  height: 24px;
}

.amountText {

  display: flex;
  flex-direction: column;
  text-align: center;
}

.amountLabel {
  font-size: 14px;
}

.amountValue {
  font-size: 80%;
  font-family: "semi-bold";
  color:#4A4A4A;
}

.rightSection {
  font-family: "";
  display: flex;
  align-items: center;
  gap: 3%;
}
.noWrap { white-space: nowrap; } 
.priceValue {
  font-family: "bold";
  color: #00b2ff; 
}

.priceUnit {
  font-family: "semi-bold";
  font-size: 90%;
  color: #828282;
}

.favorite {
  font-size: 20px;
  cursor: pointer;
  margin-left: 3%;
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #ffcc00;
  }
}
