.loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height:100vh;
}

.loginWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.loginForm {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 300px; 
  gap: 5px;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'bold';
  border: 1px solid var(--sub-color);
  transition: border-color 0.1s ease-in-out;

  &::placeholder {
    color: var(--place-holder-gray);
    font-family: 'semi-bold';
  }

  &:focus {
    border: 1px solid var(--point-color); 
    outline: none;
  }
}

.links {
  display: flex;
  gap: 5px;
  text-align: center;
  font-size: 12px;
  color: #757575;
  font-family: 'semi-bold';
  margin-top: 25px;
  margin-bottom: 10px;

  cursor: pointer;
}

.loginButton {
  width: 325px; 
  padding: 12px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.1);
  font-family:'bold';
  &:hover{
    background-color: var(--dark-point-color);
    box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.2);
  }
}

.signupText {
  font-size: 11px;
  color: var(--gray-color5);
  font-family: 'semi-bold';
  text-align: center;

  .signupLink {
    font-size: 14px;
    font-family: 'bold';
    color:var(--point-color);
    text-decoration: none;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.errorMessage {
  font-size: 9px;
  color: #FF0000;
  text-align: left;
  font-family: 'regular';
  font-weight: 500;
  width: 100%;
}

