.loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height:100vh;
}

.loginWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.loginForm {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 300px; 
  gap: 5px;
}


.links {
  display: flex;
  gap: 5px;
  text-align: center;
  font-size: 12px;
  color: #757575;
  font-family: 'semi-bold';
  margin-top: 25px;
  margin-bottom: 10px;

  cursor: pointer;
}

.signupText {
  font-size: 11px;
  color: var(--gray-color5);
  font-family: 'semi-bold';
  text-align: center;

  .signupLink {
    font-size: 14px;
    font-family: 'bold';
    color:var(--point-color);
    text-decoration: none;
    margin-left: 4px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.errorMessage {
  font-size: 9px;
  color: #FF0000;
  text-align: left;
  font-family: 'regular';
  font-weight: 500;
  width: 100%;
}

