.loginButton {
  background-color: var(--point-color);
  width: 325px; 
  padding: 12px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.1);
  font-family:'bold';

  &:hover {
    background-color: var(--dark-point-color);
    box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.2);
  }
}
