.card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 178, 255, 0.3);
  padding: 3% 10%;
  
  width: 50vw;
  height: 15vh;
  max-width: 350px;
  border: 1px solid #CBEFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  &:hover{
    background-color: #f2f2f2;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .title {
    font-size: 19px;
    font-family: 'bold';
    color: #0B1215;
  }
}

.amount {
  font-family: 'regular';
  font-size: 13px;
  color:#0B1215;
  margin-top: 7px;
  margin-bottom: 14px;
}

.infoWrapper{
  margin-top: 8px;

}
.location {
  font-family: 'regular';
  font-size: 12px;
  color:#828282;
}

.bottomWrapper{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}
.company {
  font-family: 'semi-bold';
  font-size: 14px;

  color:#636363;
}

.priceValue {
  font-family: "bold";
  color: #00b2ff; 
}

.priceUnit {
  font-family: "semi-bold";
  font-size: 90%;
  color: #828282;
}