.input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'bold';
  border: 1px solid var(--sub-color);
  transition: border-color 0.1s ease-in-out;

  &::placeholder {
    color: #b0b0b0;
    font-family: 'semi-bold';
  }

  &:focus {
    border: 1px solid var(--point-color); 
    outline: none;
  }
}