.container {
    width: 28.5vw;
    margin: auto;
    text-align: center;
  }
  
  .formTitle {
    font-size: 2vw;
    padding-top: 5vw;
    font-family: "bold";
    padding-bottom: 1vw;
  }
  
  .formSubtitle {
    font-size: 1vw;
    font-family: "medium";
    color: #757575;
    margin-bottom: 2.5vw;
  }
  
  .inputGroup {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      align-items: center;
      width: 100%;
    }
    
  
  .bottomText {
    color: #828282;
    font-family: "medium";
    font-size: 0.9vw;
    margin-top: 2.2vw;
    padding-bottom: 1vw;
  }
  
  .formButton {
    margin-bottom: 11vw;
  }

.customDropdown {
    width: 40%;
    max-width: 25vw;
  }