.tradeButton {
    width: 12vw; /* 버튼 크기 고정 */
    height: 40px; /* 높이 통일 */
    border-radius: 6px;
    font-size: 1.1vw;
    font-family: "bold";
    text-align: center;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 거래 완료 스타일 */
  .completed {
    background-color: #00b2ff;
    color: white;
  }
  
  /* 거래 예정 스타일 */
  .upcoming {
    background-color: #dbdbdb;
    color: #757575;
  }
  
  /* 거래 취소 스타일 */
  .canceled {
    background-color: #757575;
    color: #b0b0b0;
  }
  
  /* 취소된 거래 텍스트에 중간 줄 */
  .canceledText {
    text-decoration: line-through;
  }
  